  </div>
  <footer>
    <div class="container text-center">
      <p class="font-weight-bold">Donations:</p>
      <p>BTC - 17pqmKQM9gdsZWEhQmeZpJzUqp6A7ieT48</p>
      <p>LTC - LMrSiJJQdR1EomxLghDznewLVxjYdJ2ahC</p>
      <p>ETH - 0xa2ef21356fabe072da71dbd5994ea0d9f47adeb9</p>
    </div>
  </footer>
</body>
</html>
