<div class="Footer">
  <div>
    <a href="https://github.com/deanylev/awesome-media-downloader" target="_blank">Source</a>
  </div>
  <div>
    Made by
    <a href="https://deanlevinson.com.au" target="_blank">Dean Levinson</a>
  </div>
</div>
