@import "ember-cli-bootstrap-4/bootstrap";
@import "ember-power-select";
@import "spin-button";

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 55px;
  @extend .bg-dark;
}

textarea {
  box-sizing: border-box;
  min-height: 62px;
  overflow-x: hidden;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55px;
  line-height: 20px;
  word-wrap: break-word;

  a {
    color: white !important;
  }
}

form {
  margin-bottom: 50px;
}

.ember-power-select-trigger {
  margin-bottom: 20px;
}

.ember-power-select-placeholder {
  color: #212529 !important;
}

.ember-power-select-options[role="listbox"] {
  max-height: none;
}

.card,
.status {
  margin-top: 20px;
}

.title {
  margin-bottom: 15px;
  font-size: 3rem;
  cursor: pointer;
}

.main-section {
  padding: 35px 0 50px;
}

.progress {
  margin-top: 20px;
}

.text-default {
  @extend .text-dark;

  .dark-mode & {
    @extend .text-light;
  }
}

.dark-mode {
  .main-section {
    background: #000;
  }

  .title, label, textarea, .ember-power-select-trigger {
    @extend .text-light;
  }

  textarea, .ember-power-select-trigger {
    background: #333 !important;
  }
}

#cancel-button {
  margin-top: 10px;
}
