<% let title = 'Media Downloader'; %>
<% include ../partials/header %>
  <form action="/download" method="POST">
    <input id="url" type="url" name="url" placeholder="Enter URL">
    <input class="btn btn-primary" type="submit" value="Submit">
  </form>
  <p id="error" class="text-danger"></p>
  <p id="status"></p>
  <div class="progress">
    <div class="progress-bar"></div>
  </div>
  <br>
  <a id="download" class="btn btn-success d-none" href="">Download</a>
  <script>
    $('form').submit(() => {
      if (!$('#url').val()) {
        $('#error').text('Please enter a URL.');
        return false;
      }

      $('#error').empty();
      $('#status').empty();
      $('.progress-bar').removeClass('bg-danger').empty().css('width', '0%');
      $('#download').addClass('d-none');

      $.ajax({
        dataType: 'json',
        method: 'POST',
        url: '/download',
        data: {
          url: $('#url').val()
        },
        success: (response) => {
          let fileSize = response.fileSize;
          let fileName = encodeURIComponent(response.fileName);
          let tempFile = response.tempFile;
          $('#status').text(`Downloading "${response.fileName}"`);
          let checkStatus = setInterval(() => {
            $.getJSON('/download_status', {
              tempFile,
              fileSize
            }).done((response) => {
              let progress = `${(response.progress * 100).toFixed(2)}%`;
              $('.progress-bar').text(progress).css('width', progress);

              if (response.status === 'complete') {
                clearInterval(checkStatus);
                $('#download').attr('href', `/download_file?video=${fileName}`).removeClass('d-none');
              }
            }).fail(() => {
              clearInterval(checkStatus);
              $('.progress-bar').addClass('bg-danger').text('Error');
            });
          }, 1000);
        },
        error: (response) => {
          let error;
          if (response.status === 500) {
            error = 'Sorry, looks like that URL isn\'t supported.';
          } else {
            error = 'An error occured.';
          }
          $('#error').text(error);
        }
      });

      return false;
    });
  </script>
  <% include ../partials/footer %>
