<% let title = 'Media Downloader'; %>
<% include ../partials/header %>
  <form action="/download" method="POST">
    <div class="form-group">
      <textarea id="urls" class="form-control" placeholder="Enter URLs (one per line)"></textarea>
    </div>
    <button class="btn btn-primary">Submit&nbsp;<i class="fas fa-spinner fa-pulse d-none"></i></button>
  </form>
  <br>
  <p id="status"></p>
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated"></div>
  </div>
  <% include ../partials/footer %>
