<footer>
  <div class="container text-center text-light">
    <p>Awesome Media Downloader |
      <a href="https://github.com/deanylev/awesome-media-downloader" target="_blank">GitHub Repo</a> |
      &copy; {{currentYear}} <a href="https://deanlevinson.com.au" target="_blank">Dean Levinson</a>
    </p>
  </div>
</footer>
